@page "/startgame"
@inherits StartGameComponent

@if (gameOptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@successMessage</p>
    <EditForm Model="@gameOptionsInputModel" OnValidSubmit="@StartGame">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="form-group col-md-4">
                <label>Select Category</label>
                <InputSelect class="form-control" @bind-Value="gameOptionsInputModel.CategoryId">
                    <option value="" selected>--</option>
                    @foreach (var category in gameOptions.Categories)
                     {
                        <option value="@category.Id">@category.Name</option>
                     }
                </InputSelect>
            </div>
            <div class="form-group col-md-4">
                <label>Select Difficulty</label>
                <InputSelect class="form-control" @bind-Value="gameOptionsInputModel.Difficulty">
                    <option value="" selected>--</option>
                    @foreach (var difficulty in gameOptions.Difficulties)
                     {
                        <option value="@difficulty">@difficulty</option>
                     }
                </InputSelect>
            </div>
            <div class="form-group text-center col-md-4">
                <label></label>
                <button type="submit" class="btn btn-outline-success mt-2 w-100">Start Game</button>
            </div>
        </div>
    </EditForm>

    @switch (game.Difficulty)
    {
        case 0:
            <div class="row">
                @foreach (var picture in game.Pictures)
                {
                    <div
                         @onclick="e => ShowPicture(picture)"
                         class="col-md-3"
                         style="border: 1px solid black; padding: 0">
                        <img
                             class="img @(!picture.IsVisible ? "img-hidden" : "")"
                             src="@picture.Img2Base64"
                             />
                    </div>
                }
            </div>
            break;
        case 1:
            tileNumber = 0;
            @for (int i = 0; i < game.NumberOfTiles / 6; i++)
            {
                <div class="row">
                    @for (int j = 0; j < game.NumberOfTiles / 6; j++)
                    {
                        <div class="col-md-2" style="border: 1px solid red;">
                            @tileNumber
                        </div>
                        tileNumber++;
                    }
                </div>
            }
            break;
        case 2:
            tileNumber = 0;
            @for (int i = 0; i < game.NumberOfTiles / 8; i++)
            {
                <div class="section group">
                    @for (int j = 0; j < game.NumberOfTiles / 8; j++)
                    {
                        <div class="col span_1_of_8" style="border: 1px solid red;">
                            @tileNumber
                        </div>
                        tileNumber++;
                    }
                </div>
            }
            break;
        default:
            break;
    }
}

@code {
    int tileNumber = 0;
}
