@page  "/register"
@inherits RegisterComponent

<div class="login-register-holder">
    <div class="container">
        @if (hasSuccessfullyRegistered)
        {
            <MatH4 Class="text-center mb-3 identity-text-color">Account Successfully Created!</MatH4>
            <div class="text-center form-holder w-50">
                <MatH6 Class="identity-text-color">A confirmation email has been sent to</MatH6>
                <br />
                <MatH5>@registerInputModel.Email</MatH5>
                <MatButton type="submit" Class="mt-2 w-100" Link="/login" Outlined="true">
                    To Login
                </MatButton>
            </div>
        }
        else
        {
            <MatH4 class="text-center mb-3 identity-text-color">Create an Account</MatH4>
            <div class="form-holder">
                <EditForm Model="@registerInputModel" OnValidSubmit="@HandleRegister">
                    <DataAnnotationsValidator />
                    <p class="text-danger text-center">@errorMessage</p>

                    <div class="form-group">
                        <MatTextField Class="w-100"
                                      Required="true"
                                      Label="Email"
                                      Outlined="true"
                                      @bind-Value="registerInputModel.Email">
                        </MatTextField>
                        <ValidationMessage For="@(() => registerInputModel.Email)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <MatTextField Class="w-100"
                                      Required="true"
                                      Label="Username"
                                      Outlined="true"
                                      @bind-Value="registerInputModel.Username">
                        </MatTextField>
                        <ValidationMessage For="@(() => registerInputModel.Username)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <MatTextField Class="w-100"
                                      Type="password"
                                      Required="true"
                                      Label="Password"
                                      Outlined="true"
                                      HelperText="Should be at least 6 characters long"
                                      Icon="lock_outline"
                                      IconTrailing="true"
                                      @bind-Value="registerInputModel.Password">
                        </MatTextField>
                        <ValidationMessage For="@(() => registerInputModel.Password)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <MatTextField Class="w-100"
                                      Type="password"
                                      Required="true"
                                      Label="Confirm Password"
                                      Outlined="true"
                                      Icon="lock_outline"
                                      IconTrailing="true"
                                      @bind-Value="registerInputModel.ConfirmPassword">
                        </MatTextField>
                        <ValidationMessage For="@(() => registerInputModel.ConfirmPassword)"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        @if (loading)
                        {
                            <div class="row col-md-12 offset-md-5">
                                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
                            </div>
                        }
                        else
                        {
                            <MatButton Type="submit" Class="w-100" Outlined="true">Register</MatButton>
                        }
                    </div>
                    <div class="text-center">
                        <MatButtonLink Href="/login">
                            Already have an account? Go to Login
                        </MatButtonLink>
                    </div>
                </EditForm>
            </div>
        }
    </div>

</div>
