@page  "/register"
@inherits RegisterComponent
@inject NavigationManager UriHelper;

<div class="login-register-holder">
    <div class="container">
        @if (hasSuccessfullyRegistered)
        {
            <h3 class="text-center">Account Successfully Created!</h3>
            <div class="text-center form-holder w-50">
                <h4>A confirmation email has been sent to</h4>
                <br />
                <h4>@registerInputModel.Email</h4>
                <button type="submit" class="btn btn-outline-success mt-2 w-100" @onclick="@((e) => UriHelper.NavigateTo("login"))">
                    To Login
                </button>
            </div>
        }
        else
        {
            <h3 class="text-center">Create an Account</h3>
            <div class="form-holder">
                <EditForm Model="@registerInputModel" OnValidSubmit="@HandleRegister">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <p class="text-danger text-center">@errorMessage</p>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" placeholder="johndoe@example.com" class="form-control" @bind-Value="registerInputModel.Email"></InputText>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <InputText id="username" placeholder="The name others will see" class="form-control" @bind-Value="registerInputModel.Username"></InputText>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Should be at least 5 characters long" class="form-control" name="password" @bind-value="registerInputModel.Password" />
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirm Password</label>
                        <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPass" @bind-value="registerInputModel.ConfirmPassword" />
                    </div>
                    <div>
                        <NavLink class="ml-md-auto" href="login">
                            Already have an account? Go to Login
                        </NavLink>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-success mt-2 w-100">Register</button>
                    </div>

                </EditForm>
            </div>
        }
    </div>

</div>
