@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider authStateProvider

<AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
</AuthorizeView>

<div class="main">
    <div class="top-row px-4" style="z-index: 9998;">
        <ul class="nav navbar">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-3">
                        <MatButton Style="color: white" OnClick="@OpenMenu" RefBack="@openMenuForwardRef">
                            Hello, @context.User.Claims.FirstOrDefault(c => c.Type.ToString() == "unique_name").Value
                            <span style="font-size: 0.8em;" class="oi oi-caret-bottom ml-1"></span>
                        </MatButton>
                        <MatMenu @ref="Menu" TargetForwardRef="@openMenuForwardRef" Style="z-index: 9999;">
                            <MatList>
                                <MatListItem Href="/profile/0">Profile</MatListItem>
                                <MatListItem OnClick="@(() => authStateProvider.SetTokenAsync(null))">Logout</MatListItem>
                            </MatList>
                        </MatMenu>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-3">
                        <MatButtonLink Style="color: white" Href="/login">
                            Login
                        </MatButtonLink>
                    </li>
                    <li class="nav-item px-3">
                        <MatButtonLink Style="color: white" Href="/register">
                            Register
                        </MatButtonLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

    <div class="content px-4">
        @Body
        <MatToastContainer></MatToastContainer>
    </div>
</div>

@code
{
    ForwardRef openMenuForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    public void OpenMenu(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }

}