@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider authStateProvider

<AuthorizeView>
    <div class="sidebar">
        <NavMenu />
    </div>
</AuthorizeView>

<div class="main">
    <div class="top-row px-4">
        <ul class="nav navbar">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-3">
                        <MatButton Style="color: white" OnClick="@OnClick" RefBack="@buttonForwardRef">
                            Hello, @context.User.Claims.FirstOrDefault(c => c.Type.ToString() == "unique_name").Value
                            <span class="oi oi-caret-bottom"></span>
                        </MatButton>
                        <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                            <MatList>
                                <MatListItem Href="/profile/0">Profile</MatListItem>
                                <MatListItem OnClick="@(() => authStateProvider.SetTokenAsync(null))">Logout</MatListItem>
                            </MatList>
                        </MatMenu>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" style="color: white;" href="login">
                            Login
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" style="color: white;" href="register">
                            Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu;

    public void OnClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }

}