@page "/categories"
@using System.Net.Http.Headers;
@using Picturesque.Models.Constants;
@inject HttpClient Http;
@inject TokenAuthenticationStateProvider TokenProvider;
@inject NavigationManager UriHelper;
@attribute [Authorize]

<h1>Categories</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row justify-content-end mr-3 mt-4">
        <button class="btn btn-primary"
                @onclick="OnAddCategory">
            @(addingCategory ? "Cancel" : "Add new category")
        </button>
    </div>
    @if (addingCategory)
    {
        <EditForm Model="category" OnValidSubmit="AddCategory">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="name">Category Name</label>
                <InputText id="name" class="form-control" @bind-Value="category.Name"></InputText>
            </div>
            <p class="text-danger">@errorMessage</p>
            <button type="submit" class="btn btn-outline-success mt-2 w-100">Create Category</button>
        </EditForm>
    }
    @if (editingCategory)
    {
        <EditForm Model="category" OnValidSubmit="EditCategory">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="name">Category Name</label>
                <InputText id="name" class="form-control" @bind-Value="category.Name"></InputText>
            </div>
            <p class="text-danger">@errorMessage</p>
            <button type="submit" class="btn btn-outline-success mt-2 w-100">Edit Category</button>
        </EditForm>
    }
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => OnEditCategory(category.Id)">
                            Edit
                        </button>
                        <button class="btn btn-outline-danger" @onclick="() => DeleteCategory(category.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Category[] categories;
    private Category category = new Category();
    private bool addingCategory = false;
    private bool editingCategory = false;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenProvider.GetTokenAsync();
        var isAdmin = (await TokenProvider.GetAuthenticationStateAsync())
            .User
            .Claims
            .FirstOrDefault(c => c.Type.ToString() == "is_admin")?.Value == "True";

        if (token != null && isAdmin)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                categories = await Http.GetJsonAsync<Category[]>(ApiConstants.ApiUrl + "Category");
            }
            catch (Exception ex)
            {
                if (ex.Message.Contains("401"))
                {
                    await TokenProvider.SetTokenAsync(null);
                }
            }
        }
        else
        {
            UriHelper.NavigateTo("startgame");
        }
    }

    protected void OnAddCategory()
    {
        addingCategory = !addingCategory;
        errorMessage = string.Empty;
        editingCategory = false;
        category = new Category();
    }

    protected void OnEditCategory(string categoryId)
    {
        editingCategory = !editingCategory;
        addingCategory = false;
        category = categories.FirstOrDefault(c => c.Id == categoryId);
    }

    protected async Task AddCategory()
    {
        try
        {
            await Http.PostJsonAsync(ApiConstants.ApiUrl + "Category/CreateCategory", category);
            categories = null;
            categories = await Http.GetJsonAsync<Category[]>(ApiConstants.ApiUrl + "Category");
            addingCategory = false;
            category = new Category();
        }
        catch (Exception ex)
        {
            if (ex.Message.Contains("400"))
            {
                errorMessage = "Category already exists";
            }
        }

    }

    protected async Task EditCategory()
    {
        try
        {
            await Http.PostJsonAsync(ApiConstants.ApiUrl + "Category/UpdateCategory", category);
            categories = null;
            categories = await Http.GetJsonAsync<Category[]>(ApiConstants.ApiUrl + "Category");
            editingCategory = false;
            category = new Category();
        }
        catch (Exception ex)
        {
            if (ex.Message.Contains("400"))
            {
                errorMessage = "Category already exists";
            }
        }

    }

    protected async Task DeleteCategory(string categoryId)
    {
        category = categories.FirstOrDefault(c => c.Id == categoryId);
        categories =
            await Http.PostJsonAsync<Category[]>(ApiConstants.ApiUrl + "Category/DeleteCategory", category);
        category = new Category();
    }
}
