@page "/categories"
@inherits CategoryComponent;
@inject TokenAuthenticationStateProvider TokenProvider;
@inject NavigationManager UriHelper;
@attribute [Authorize]

@if (categories == null)
{
    <div class="row justify-content-end">
        <div class="col-md-6">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
        </div>
    </div>
}
else
{
    <MatH2>Categories</MatH2>
    <div class="row justify-content-end mr-3 mt-4">
        <MatButton Outlined="true" @onclick="OnAddCategory">
            @(addingCategory ? "Cancel" : "Add new category")
        </MatButton>
    </div>
    @if (addingCategory)
    {
        <EditForm Model="category" OnValidSubmit="AddCategory" class="mt-2 mb-2">
            <DataAnnotationsValidator />

            <div class="form-group">
                <MatTextField Class="w-100"
                              Required="true"
                              Label="Category Name"
                              Outlined="true"
                              @bind-Value="category.Name">
                </MatTextField>
                <ValidationMessage For="@(() => category)"></ValidationMessage>
            </div>
            <p class="text-danger">@errorMessage</p>
            <MatButton Type="submit" Class="mt-2 w-100" Outlined="true">Create Category</MatButton>
        </EditForm>
    }
    @if (editingCategory)
    {
        <EditForm Model="category" OnValidSubmit="EditCategory" class="mt-2 mb-2">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <MatTextField Class="w-100"
                              Required="true"
                              Label="Category Name"
                              Outlined="true"
                              @bind-Value="category.Name">
                </MatTextField>
            </div>
            <p class="text-danger">@errorMessage</p>
            <MatButton Type="submit" Class="mt-2 w-100" Outlined="true">Edit Category</MatButton>
        </EditForm>
    }
    <MatTable Items="@categories"
              LoadInitialData="true"
              FilterByColumnName="Name"
              DebounceMilliseconds="150">
        <MatTableHeader>
            <th style="width: 45%;">Id</th>
            <th>Name</th>
            <th>Actions</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>
                <button class="btn btn-primary" @onclick="() => OnEditCategory(context.Id)">
                    Edit
                </button>
                <button class="btn btn-outline-danger" @onclick="() => DeleteCategory(context.Id)">
                    Delete
                </button>
            </td>
        </MatTableRow>
    </MatTable>
}

@code {


    protected override async Task OnInitializedAsync()
    {
        token = await TokenProvider.GetTokenAsync();
        var isAdmin = (await TokenProvider.GetAuthenticationStateAsync())
            .User
            .Claims
            .FirstOrDefault(c => c.Type.ToString() == "is_admin")?.Value == "True";

        if (token != null && isAdmin)
        {
            try
            {
                client = new HttpClient();
                await GetCategories();
            }
            catch (Exception ex)
            {
                if (ex.Message.Contains("401"))
                {
                    await TokenProvider.SetTokenAsync(null);
                }
            }
        }
        else
        {
            UriHelper.NavigateTo("startgame");
        }
    }
}
